
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/.agents
/.github/agents
/.github/docs
/.github/old
/.github/skills
/.github/utils
/.playwright-cli
/scratch
